.grid-w { /* Paragraph and Image CSS grid */
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
	grid-gap: 20px;
	grid-auto-flow: row;
	margin-bottom: 50px;
}

.grid-pf { /* CSS Grid for the blockchain platforms */
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
	grid-gap: 20px;
	grid-auto-flow: row;
	margin-bottom: 100px;
}

.pf-box {
	max-width: 500px;
	height: auto;
	border: 0.5px solid grey;
	border-radius: 5px;
	padding: 10px;
}
.card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
	grid-gap: 30px;
	grid-auto-flow: row;
	margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .grid-w {
	grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
	grid-gap: 30px;
	align-items: center;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  max-width: 450px;
}
.two {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  max-width: 450px;
}
.three {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  max-width: 450px;
}
.four {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  max-width: 450px;
}

