.circular--square {
  border-radius: 50%;
}

.image-center {
  width:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


/* Add some padding inside the card container */
.card-container {
  padding: 2px 16px;
}

.txt-center-wrap {
	text-align: center;
}

.card-deck {
	display: grid;
	grid-template-columns: repeat (auto-fill, 1fr);
	grid-gap: 10px;
	grid-auto-flow: column dense;
}

@media screen and (max-width: 700px) {
  .card-deck {
	  grid-auto-flow: row;
	  justify-items: center;
  }
}
